<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Welcome to Add Page!! </title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Issue Addition</a>
            </div>
          </div>
        </nav>

        <div class="container">

            <div class="row">
                Please add the new Issue.
            </div>
            <br></br>
            <div class="row">
                <form method="POST" action={{url_for('addissue')}}>
                <textarea class="form-control" name="addissue" placeholder="Enter the Issue"></textarea>
                <br></br>
                <textarea class="form-control" name="contents" placeholder="Enter the Resolution"></textarea>
                <input type="submit" class="btn btn-success" value="Add Issue">
                </form>
            </div>

        </div>

    </body>
</html>
